.header {
  position: relative;
}
.avatar {
  position: absolute;
  height: 100%;
  width: 100%;
}
.avatar-content {
  height: 100%;
  padding: 0.75em;
}
.avatar-img {
  margin: 0;
  float: right;
  height: 100%;
  line-height: 100%;
  position: relative;
}
.avatar-img .settings {
  display: none;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0.5em;
}
.avatar-img img {
  height: 100%;
  border-radius: 50%;
  float: right;
}
