.header
	position relative
.avatar
	position absolute
	height 100%
	width 100%
	&-content
		height 100%
		padding .75em
	&-img
		margin 0
		float right
		height 100%
		line-height 100%
		img
			height 100%
			border-radius 50%
			float right
