body {
	background: url('../img/pict/bg-leo.png');
    font-family: 'OpenSans';
}

p {
font-family: 'OpenSans';
color: #fff;
font-size: 0.8rem;
margin-bottom: 0.75rem;
}

p.light {
font-family: 'OpenSans-Light';
}

.align-center{
    text-align: center;
}

.holi
{
    border-color: #ffffff;
    border: 1px solid;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
}

h3{
    text-transform: uppercase;
    font-family: 'OpenSans-Light';
    font-size: 1rem;
    letter-spacing:0.2em;
    padding:0;
    margin:0 0 0.8em;
    text-align: center;
    display:block;
    color:#e5e5e5;
}

h2{
    text-transform: uppercase;
    font-family: 'OpenSans-Light';
    font-size: 1.4rem;
    letter-spacing:0.2em;
    padding:0;
    margin:0 0 0.8em;
    text-align: center;
    display:block;
    color:#e5e5e5;
}

.boli
{
    text-align:center;
}

.button
{
    background: transparent;
    border: 1px solid currentColor;
    color: #e5e5e5;
    font-family: 'OpenSans-Light';
    text-transform: uppercase;
    margin-bottom: 0.4em;
}

.trolis
{
    margin-bottom:0.1rem;
    padding: 1rem;
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
}

.trolis strike {
    font-size: 0.8rem;
    color: #e42038;
}

.hideThis {
    display: none;
}

.rojo .button:hover, .rojo .button:focus {
    background-color: #e42038;
}

.arrow {
    margin-top: 2.5em;
}

.amarillo .button:hover, .amarillo .button:focus {
    background-color: #f6e722;
}

#go {
	display: none;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#login {
	display: none;
	border: solid 1px white;
	padding: 2em;
}

.desc {
    margin-top: 2rem;
}

.nopad {
    padding:0 !important;
}

#packs {
    margin-top: 1em;
    margin-bottom: 2em;
}

.header {
  position: relative;
}
.avatar {
  position: absolute;
  height: 100%;
  width: 100%;
}
.avatar-content {
  height: 100%;
  padding: 0.75em;
}
.avatar-img {
  margin: 0;
  float: right;
  height: 100%;
  line-height: 100%;
  position: relative;
}
.avatar-img .settings {
  display: none;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0.5em;
}
.avatar-img img {
  height: 100%;
  border-radius: 50%;
  float: right;
}
.activation-code {
  padding: 1em;
  text-align: center;
}

.activation-code input {
  max-width: 600px;
  display: table;
  margin: auto;
  margin-bottom: 1em;
}


footer p {
font-size: 0.8rem;
padding: 1rem;
padding-top: 0;
}