body {
	background: url('../img/pict/bg-leo.png');
}
.holi
{
    border-color: #ffffff;
    border: 1px solid;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
}
.boli
{
    text-align:center;
}

.boli .button
{
    margin-bottom: 0.4em;
}
.trolis
{
    margin-bottom:0.1rem;
    padding: 1rem;
}

.hideThis {
    display: none;
}

.rojo .button {
    background-color: #e42038;
    border-color: #ba2048;
}

.rojo .button:hover, .rojo .button:focus {
    background-color: #ba2048;
}

.amarillo .button {
    background-color: #f6e722;
    border-color: #c4b020;
    color:#000;
}

.amarillo .button:hover, .amarillo .button:focus {
    background-color: #c4b020;
}