// .header
// 	position relative
// .avatar
// 	position absolute
// 	height 100%
// 	width 100%
// 	&-content
// 		height 100%
// 		padding .75em
// 		background green
// 		// margin .75em
// 	&-img
// 		margin 0
// 		float right
// 		height 100%
// 		line-height 100%
// 		background yellow
// 		position relative
// 		.settings
// 			display none
// 			z-index 2
// 			// background red
// 			position absolute
// 			right 0
// 			top 100%
// 			padding .5em
// 			// top 100%
// 		img
// 			height 100%
// 			border-radius 50%
// 			float right

// .activation-code
// 	padding 1em
// 	text-align center
// 	// h2
// 	// 	color white
// 	input
// 		border-radius 10px
// 		max-width 600px
// 		display table
// 		margin auto
// 		margin-bottom 1em

.avatar-img
	img
		border solid 2px white