body {
	background: url('../img/pict/bg-leo.png');
    font-family: 'OpenSans';
}

a {
  color: #fff;
}

a:hover, a:focus {
  color: #fff;
}

p {
font-family: 'OpenSans';
color: #fff;
font-size: 0.8rem;
margin-bottom: 0.75rem;
}

p.light {
font-family: 'OpenSans-Light';
}

.align-center{
    text-align: center;
}

.holi
{
    border-color: #ffffff;
    border: 1px solid;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
}

h3{
    text-transform: uppercase;
    font-family: 'OpenSans-Light';
    font-size: 1rem;
    letter-spacing:0.2em;
    padding:0;
    margin:0 0 0.8em;
    text-align: center;
    display:block;
    color:#e5e5e5;
}

h2{
    text-transform: uppercase;
    font-family: 'OpenSans-Light';
    font-size: 1.4rem;
    letter-spacing:0.2em;
    padding:0;
    margin:0 0 0.8em;
    text-align: center;
    display:block;
    color:#e5e5e5;
}

.page-cent .p-title h6{
    text-transform: uppercase;   
    font-family: 'OpenSans-Light';
    letter-spacing: 0.5em;
    padding-left: 0.5em;
    text-align: center;
    display: inline-block;
    color: #626262;
}

.boli
{
    text-align:center;
}

.button
{
    background: transparent;
    border: 1px solid currentColor;
    color: #e5e5e5;
    font-family: 'OpenSans-Light';
    text-transform: uppercase;
    margin-bottom: 0.4em;
}

::-webkit-input-placeholder { font-family: "OpenSans"; color: #424242;}

:-moz-placeholder { font-family: "OpenSans"; color: #424242;}
::-moz-placeholder { font-family: "OpenSans"; color: #424242;}
:-ms-input-placeholder { font-family: "OpenSans"; color: #424242;}

.trolis
{
    margin-bottom:0.1rem;
    padding: 1rem;
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
}

.trolis strike {
    font-size: 0.8rem;
    color: #e42038;
}

.hideThis {
    display: none;
}

.rojo .button:hover, .rojo .button:focus {
    background-color: #e42038;
}

.arrow {
    margin-top: 2.5em;
}

.amarillo .button:hover, .amarillo .button:focus {
    background-color: #f6e722;
}

#go {
	display: none;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#login {
	display: none;
	border: solid 1px white;
	padding: 2em 3em 1em;
  text-align: center;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.95);
}

.modalmsj {
  display: none;
  border: solid 1px white;
  padding: 2em 3em 1em;
  text-align: center;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.95);
  max-width: 90%;
}

#login button {
  background: transparent;
  border: 1px solid currentColor;
  color: #e5e5e5;
  font-family: 'OpenSans-Bold';
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  width: 4rem;
  margin: 0 1em;
}

#login p {
  margin-top: 1.5em;
}

.desc {
    margin-top: 2rem;
}

.nopad {
    padding:0 !important;
}

#packs {
    margin-top: 1em;
}

.boli {
    margin-bottom: 2em;
}

.header {
  position: relative;
}
.avatar {
  position: absolute;
  height: 100%;
  width: 100%;
}
.avatar-content {
  height: 100%;
  padding: 0.75em;
}
.avatar-img {
  margin: 0;
  float: right;
  height: 100%;
  line-height: 100%;
  position: relative;
}
.avatar-img .settings {
  display: none;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0.5em;
}
.avatar-img img {
  height: 100%;
  border-radius: 50%;
  float: right;
}
.activation-code {
  padding: 1em;
  text-align: center;
}

.activation-code input {
  max-width: 600px;
  display: table;
  margin: auto;
  margin-bottom: 1em;
}

.product {
  margin-top: 2em;
}
.show-for-small {
  margin-top: 1em;
}

.modal-close {
  position:absolute;
  right: 12px;
  top: 8px;
  color:#fff;
  font-size: 1.5em;
}

.modal-close:hover, .modal-close:focus {
  color:#cfcfcf;

}

p.producto {
  font-size: 0.9rem;
}

.product .rojo{
  text-align: center;
}

.product .rojo a{
  display:block;
  width: 200px;
  margin: 0 auto 0.75em;
}

li {
  font-family: 'OpenSans';
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

footer p {
font-size: 0.8rem;
padding: 1rem;
padding-top: 0;
}
