<!doctype html>

<html class='no-js' lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="description" content="CoreUpgrade 2015 es la mejor plataforma de entrenamiento desarrollada por HackSpace Perú para incentivar y formar a Developers y Makers disruptivos en la escena peruana.">
        <meta name="autor" content="HackSpace Perú">
        <meta property="org:title" content="¡Aprende Desarrollo Web y Electrónica en solo un mes!">
        <meta property="og:site_name" content="CoreUpgrade 2015 - HackSpace Perú">
        <meta property="og:image" content="http://hackspace.la/img/pict/webfb.png">
        <meta property="og:description" content="Sé parte del mejor entrenamiento desarrollado por HackSpace Perú para incentivar y formar a Developers y Makers disruptivos en la escena peruana.">
        <meta property="og:url" content="http://hackspace.la/">
        <meta property="fb:app_id" content="1584684295095074">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@hackspaceperu">
        <meta name="twitter:creator" content="@hackspaceperu">
        <meta name="twitter:title" content="Deja el floro de lado y ponte a desarrollar">
        <meta name="twiter:description" content="CoreUpgrade 2015 es la mejor plataforma de entrenamiento desarrollada por HackSpace Perú para incentivar y formar a Developers y Makers disruptivos en la escena peruana.">
        <meta name="twitter:image:src" content="http://hackspace.la/img/pict/webfb.png">
        <!-- Page title Here -->
        <title>CoreUpgrade 2015 - HackSpace Perú</title>

        <!-- Disable screen scaling-->
        <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0'>

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <!-- Initializer -->
        <link rel='stylesheet' href='css/normalize.css'>

        <!-- Web fonts and Web Icons -->
        <link rel='stylesheet' href='./css/pageloader.css'>
        <link rel='stylesheet' href='./fonts/opensans/stylesheet.css'>
        <link rel='stylesheet' href='./css/ionicons.min.css'>

        <!-- Plugin Vendor style -->
        <link rel='stylesheet' href='./css/foundation.min.css'>
        <link rel='stylesheet' href='./js/vendor/jquery.fullPage.css'>

        <link rel='stylesheet' href='./css/main.css'>
        <link rel='stylesheet' href='./css/main_responsive.css'>
        <link rel='stylesheet' href='./css/main_alt_style.css'>

        <script src='./js/vendor/modernizr-2.7.1.min.js'></script>
        <script src="https://cdn.firebase.com/js/client/2.0.5/firebase.js"></script>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

        <script>
	$(document).ready(function(){
		var from,fromwho,subject,text;
		$("#submit-message").click(function(){		
			fromwho=$("#fromwho").val();
			subject=$("#subject").val();
			text=$("#content").val();
			$("#messageEmail").text("Su mensaje fue enviado, gracias!");
			$.get("http://hackspace.la/send",{fromwho:fromwho,subject:subject,text:text},function(data){
		        console.log(data);
			if(data=="sent")
			{
				$("#messageEmail").empty().html("<p>Su mensaje fue enviado, gracias!</p>");
			}

	});
		});
	});
	</script> 

    </head>
    <body id='menu' class='style2'>
        <!--[if lt IE 8]>
        <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Page Loader -->
        <!--
        <div class='page-loader'>
        <div><i class='fa fa-play-circle-o  fa-spin'></i><p>loading</p></div>
        </div>
        -->

        <!-- Site config : put launching date here
        data-date='01/31/2015 23:00:00'        Launching date
        data-date-timezone='+0'                Lanching date time zone

        -->
        <div id="fb-root"></div>
        <div class='site-config'

             data-date='01/02/2015 10:00:00'
             data-date-timezone='+5'


             ></div>

        <!-- Page Loader -->
        <div class='page-loader'>
            <div><i class='ion ion-loading-d'></i><p>loading</p></div>
        </div>

        <!-- BEGIN OF site header Menu -->
        <!--        <header class='menu-all '>-->
        <div class='m-top m-left mm' id='hir' data-menuanchor="inicio">
            <a href='#inicio'>
                <i class="ion-ios-arrow-up"></i>Inicio
            </a>
        </div>

        <div class='m-top m-right mm' data-menuanchor="login">
            <a class="navbar-login" id='nis' href='#login'>
                Inicia Sesión
            </a>
            <a class="navbar-login" href='#login'>
                <i class='ion-log-in'></i>
            </a>
        </div>

        <div class='m-bottom m-left mm' id='hir' data-menuanchor="nosotros">
            <a href='#nosotros'>
                <i class='ion-ios-information-outline'></i>Sobre Nosotros
            </a>
        </div>

        <div class='m-bottom m-right mm' id='hir' data-menuanchor="contacto">
            <a href='#contacto'>
                Contáctanos<i class='ion-ios-location'></i>
            </a>
        </div>
        <!--        </header>-->
        <!-- END OF site header Menu-->

        <!-- Page Loader -->
        <div class='page-loader'>
            <div><i class='ion ion-loading-d'></i><p>loading</p></div>
        </div>




        <!-- BEGIN OF site cover -->
        <div class='page-cover' id='home'>
            <!-- Cover Background -->
            <div class='cover-bg pos-abs full-size'></div>
            <div class='cover-bg-mask pos-abs full-size'></div>

        </div>
        <!--END OF site Cover -->

        <!-- BEGIN OF site main content content here -->
        <main class='page-main  ' id='mainpage'>

            <!-- Begin of Top of the page -->
            <div class='page-top page section' id='s-top'>
                <section class="universo">
                    <div class="wrapper"></div>
                    <div class="centered">
                        <div class="letras">
                            <img src="img/pict/letras.png" alt="CoreUpgrade 2015" width="600" height="400">
                            <div class="start"><h3>Inicio: 5 de enero</h3></div>
                        </div>
                        <div class="texto">
                            <p>¿Estás preparado para un enero lleno de retos y nuevos amigos con quienes aprenderás lo necesario para empezar a desarrollar con tecnologías web y electrónica?</p>
                            <p class="light">Además, con el CoreUpgrade 2015 podrás sacarle todo el provecho a nuestras actividades y amanecidas semanales en diversas universidades del país. Y, por si fuera poco, podrías obtener un cupo para nuestro Entrenamiento de Especialización que realizaremos de manera presencial solo para los participantes más destacados.</p></div>
                    </div>

                    <footer class='p-footer p-scrolldown'>
                        <a href="#curricula">
                            <div class='arrow-d no-change'></div>
                        </a>

                    </footer>
                </section>

            </div>
            <!-- End of Top of the page -->

            <!-- Begin of curricula page -->
            <div class='section page page-cent page-curr' id='s-curr'>
                <div class="wrapper"></div>
                <section class='content'>
                    <div class="curr-left"><h3>Lo Que Aprenderás...</h3>
                    </div>
                    <div class="curr-right"><h3>en solo 1 mes</h3>
                    </div>
                    <div class='curr'>
                        <img src="img/pict/curricula.png" alt="Curricula">
                    </div>

                </section>
            </div>
            <!-- End of when page -->

            <!-- Begin of Quien page -->
            <div class='section page page-cent page-about' id='s-who'>
                <div class="wrapper"></div>
                <section class='content'>
                    <header class='p-title'>
                        <h3>¿A Quién Va Dirigido?
                        </h3>
                    </header>
                    <article class='article light-text'>
                        <p>Personas curiosas y dispuestas a aprender más. Personas que no tengan miedo de pedir ayuda y comunicarse con los demás. Personas que quieran compartir lo que saben, así como lo que van aprendiendo. Personas que conciban el <strong>hacer</strong> como una forma de vida y una extensión de lo que son, y no como un trabajo.  Si consideras que tienes estas características, inscríbete en nuestro <strong>CoreUpgrade 2015</strong>.</p>
                        <p>Conocerás a gente como tú, apasionados por aprender y hacer en comunidad. Y podrás participar en un entorno correcto para desarrollar proyectos de valor y hacer realidad tus ideas.</p>
                    </article>
                </section>
                <footer class='p-footer p-scrolldown'>
                    <a href="#login">
                        <div class='arrow-d'></div>
                    </a>
                </footer>
            </div>
            <!-- End of about us page -->

            <!-- Begin of register page -->
            <div class='section page page-cent page-when' id='s-register'>

                <!-- <section>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="CE2S9U76FQ6KG">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                </section> -->

                <section class="login">
                    <div>
                        <h3 class='invite'>Inicia Sesión</h3>
                    </div>
                    <div>
                        <button class="button facebook"><i class="ion ion-social-facebook"></i></button>
                        <button class="button twitter"><i class="ion ion-social-twitter"></i></button>
                    </div>
                    <div class="aviso">
                        <p>Inicia sesión con Facebook o Twitter para más información sobre cómo participar.</p>
                    </div>

                </section>
                <section class='content'>
                    <header class='p-title'>
                        <h3><i class='ion-ios-timer-outline'>
                        </i>Empieza En
                        </h3>
                    </header>
                    <div class='clock clock-countdown'>
                        <div class='block'>
                            <div class='digit days'>00</div>
                            <div class='text'>días</div>
                        </div>
                        <div class='block'>
                            <div class='digit hours'>00</div>
                            <div class='text'>hors</div>
                        </div>
                        <div class='block'>
                            <div class='digit minutes'>00</div>
                            <div class='text'>mins</div>
                        </div>
                        <div class='block'>
                            <div class='digit seconds'>00</div>
                            <div class='text'>segs</div>
                        </div>
                    </div>
                </section>
                <footer class='p-footer p-scrolldown'>
                    <a href="#nosotros">
                        <div class='arrow-d'></div>
                    </a>
                </footer>
            </div>
            <!-- End of register page -->

            <!-- Begin of aboutus page -->
            <div class='section page page-cent page-about' id='s-aboutus'>
                <div class="wrapper"></div>
                <section class='content'>
                    <header class='p-title'>
                        <h3>Sobre Nosotros
                        </h3>
                    </header>
                    <article class='description light-text'>
                        <p>En el HackSpace buscamos crear un camino hacia el empoderamiento tecnológico. Como muchos jóvenes, teníamos la errada creencia de que para <strong>aprender a hacer</strong> en carreras como Ingeniería, Ciencias o Diseño debíamos someternos a una currícula y seguir el orden que se nos imponía. Pensábamos que el único camino para desarrollarnos correctamente eran las instituciones.</p>
                        <p>Pero aprendimos que somos capaces de mucho por nuestra cuenta, y más aún en comunidad. Jugando y retándonos empezamos a hacer realidad nuestras ideas. Comprobamos que realmente podíamos crear valor. Y con esfuerzo y práctica hasta podemos influir y cambiar el mundo donde vivimos.</p>
                        <p>En el camino, generamos dinámicas de aprendizaje y desarrollo. Tenemos amanecidas semanales en espacios que promueven la formación práctica y el desarrollo rápido de ideas. Creemos que esto no se debe quedar solo entre nosotros. Es por ello que iniciamos la difusión y generación de más espacios de empoderamiento y auto-aprendizaje en comunidad.</p>
                        <p>Y para que cualquier interesado pueda sacarle todo el provecho a nuestras actividades hemos preparado el <strong>CoreUpgrade 2015</strong>. Este es un entrenamiento de los conocimientos básicos necesarios para empezar a desarrollar con tecnologías web y electrónica. Además, este entrenamiento nos servirá para seleccionar a los más esforzados e interesados para que participen en un <strong>Entrenamiento de Especialización</strong> gratuito en nuestros espacios ubicados en Lima.</p>
                    </article>
                </section>
            </div>
            <!-- End of about us page -->


            <!-- Begin of Contact page   -->
            <div class='section page page-contact page-cent' id='s-contact'>

                <section class='content'>
                    <header class='p-title'>
                        <h3><i class='ion ion-ios7-location'>
                        </i>Contáctanos
                        </h3>
                    </header>
                    <!-- Begin Of Page SubSction -->
                    <nav class='page-grid columns'>
                        <ul class='block-wrapper medium-block-grid-2 small-block-grid-1'>
                            <!--Column 1-->
                            <li class='page-block c-left v-zoomIn'>
                                <div class='main-content'>
                                    <ul class='desc'>
                                        <li class='big'>
                                            <img class='logo' src="img/pict/hslogo.png" alt='HackSpace Perú'>
                                            <span class='bold'>Asociación Hack Space Perú</span>
                                        </li>
                                        <li>Almirante Guisse 1198, Jesús María</li>
                                        <li>Lima, Perú</li>
                                        <li><span class='bold'>Tel</span> : 975 406 862</li>
                                        <li><span class='bold'>Correo</span> : contacto@hackspace.pe</li>
                                    </ul>
                                </div>
                            </li>

                            <!--Column 2-->
                            <li class='page-block c-right v-zoomIn' >
                                <div class='map-content' >
                                    <div id='gmap'>
                                        <form class='message form send_message_form'>
                                            <div class="row">
                                                <div class="large-12 columns">

                                                    <input name="name" type="text" id="fromwho" placeholder="Nombre" required/>
                                                </div>
                                                <div class="large-12 columns">

                                                    <input type="email" id="subject" placeholder="Correo Electrónico" name="email" required/>
                                                </div>
                                                <div class="large-12 columns">
                                                    <textarea id="content" placeholder="Mensaje..." name="message" required></textarea>
                                                </div>
                                                <div>
                                                    <button id='submit-message' class='button email_b' name='submit_message'>Ok</button><br>
                                                    <span id="messageEmail"></span
                                                </div>

                                                <div>
                                                <!--    <p class='message-ok invisible'>Tu mensaje ha sido enviado, gracias.</p>   -->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </nav>
                    <!-- End of page SubSection -->


                    <!-- Begin Of Social Links -->
                    <div class='social-links columns'>
                        <article class="page-header columns article">
                            <header class="header-title mc-nav-header">
                                <p class='align-center upper  light text-maincolor'>Síguenos en :</p>
                            </header>
                            <div class='align-center desc socialnet'>
                                <!-- Social networks : use fontawesome font-->
                                <a href='#'><i class="ion-social-facebook"></i></a>
                                <a href='#'><i class="ion-social-twitter"></i></a>
                                <a href='#'><i class="ion-social-rss"></i></a>
                            </div>
                        </article>
                    </div>
                    <!-- End Of  Social Links -->

                    <!-- legal notice -->
                    <footer class='footer columns'>
                        <p class='align-center light  desc'>
                            <!-- Replace by your agency -->
                            Desarrollado por <a href='http://www.hackspace.pe'>HackSpace</a>.
                            <br>2015 Todos los derechos reservados.
                        </p>
                    </footer>

                </section>

                <!--
                <div class='row'>
                <div class='medium-6 columns'>
                <ul>
                <li>address : aze</li>
                </ul>
                </div>
                <div class='medium-6 columns'></div>
                </div>
                -->



            </div>
            <!-- End of Contact page  -->

        </main>
        <!-- END OF site main content content here -->

        <!-- All Javascript plugins goes here -->

        <script src='./js/vendor/jquery-1.11.0.min.js'></script>
        <script src='./js/vendor/jquery.fullPage.min.js'></script>
        <script src='./js/vendor/jquery-ui.min.js'></script>
        <!--
        <script src='./js/vendor/jquery.easings.min.js'></script>
        <script src='./js/vendor/jquery.slimscroll.min.js'></script>
        -->
        <script src='./js/vendor/jquery-migrate-1.2.1.min.js'></script>
        <script src='./js/vendor/viewportchecker.js'></script>
        <script src='./js/foundation/foundation.js'></script>
        <script src='./js/foundation/foundation.abide.js'></script>

        <script src='./js/jquery.downCount.js'></script>
        <script src='./js/jquery.maximage.js'></script>
        <script src='./js/okvideo.min.js'></script>
        <!--   <script src='./js/form_script.js'></script> -->
        <script src='./js/main.js'></script>
        <script src="./js/firefly.js"></script>

        <script type="text/javascript">
         $.firefly({
             color: '#eaeaea',
             minPixel: 1,
             maxPixel: 2,
             total : 10,
             on: '.page-cover'
         });
        </script>
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-31715493-7', 'auto');
         ga('send', 'pageview');

        </script>
    </body>

</html>
